* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.panel-space {
    margin-top: 5px;
    margin-bottom: 5px;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 8px 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.navbar a.active {
    background-color: #555;
}

.navbar a:hover {
    background-color: #444;
}

.site-main {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.menu-form, .login-form, .reservation-form {
    margin-top: 20px;
}

.main-panel {
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.main-panel h2 {
    text-align: center;
}

.main-panel hr {
    border: 0;
    height: 1px;
    background-color: rgba(119, 119, 119, 0.75);
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bus-display {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

button {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: none;
    background-color: #3457cb;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2644a7;
}

select {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.select-group select:focus {
    outline: none;
    border-color: #3457cb;
}

.alert {
    padding: 5px;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}

.alert:has(> div.success) {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert:has(> div.danger) {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}