{% extends 'base.html' %}
{% set active_page = "admin" %}
{% set page_title = "Administrator Login" %}

{% block content %}

{% if bus_data %}
<div class="bus-info">
    <div class="panel-space">
        <p><strong>Seating Chart:</strong></p>
        <p>X = reserved seat</p>
        <p>O = Open seat</p>
    </div>
    {% for row in bus_data %}
        <div>{{row}}</div>
    {% endfor %}
    <div class="panel-space">
        <p><strong>Total Sales: ${{total_sales}}</strong></p>
    </div>
</div>
{% endif %}

<form class="login-form" action="{{ url_for('admin') }}" method="post">
    <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" {% if session.username %}value='{{session.username}}'{% endif %}>
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    <button type="submit">LOGIN</button>
</form>
{% endblock %}