{% extends 'base.html' %}
{% set active_page = "reservations" %}
{% set page_title = "Reserve Your Seat" %}

{% block content %}
<div class="bus-info">
    <div class="panel-space">
        <p><strong>Seating Chart</strong></p>
        <p>X = reserved seat : O = open seat</p>
    </div>
    {% for row in bus_data %}
        <div>{{row}}</div>
    {% endfor %}
</div>
<form class="reservation-form" action="{{ url_for('reservations') }}" method="post">
    <div class="input-group">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name" required>
    </div>

    <div class="input-group">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name" required>
    </div>

    <div class="input-group">
        <label for="row">Choose a row</label>
        <select id="row" name="row">
            <!-- Add options here -->
        </select>
    </div>

    <div class="input-group">
        <label for="seat">Choose a seat</label>
        <select id="seat" name="seat">
            <!-- Add options here -->
        </select>
    </div>
    <button type="submit">SUBMIT</button>
</form>
{% endblock %}